*.sublime-*
.DS_Store
# Ghost DB file
*.db
*.db-journal
/public/content/tmp/*
/public/content/data/*
/public/content/apps/**/*
/public/content/themes/**/*
/public/content/images/**/*
!/public/content/themes/casper/**
!/README.md